/*
!/.gitignore
!/Makefile
!/linker-riscv64.ld
!/arch/
!/arch/**
!/kernel/
!/kernel/**
!/platform/
!/platform/**
!/servers/
!/servers/**
!/uapi/
!/uapi/**
!/user
!/user/**
!/libk/
!/libk/**
!/test/
!/test/**
